<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ion-item>
          <ion-range min="0" max="10" color="secondary">
              <ion-label slot="start">0</ion-label>
              <ion-label slot="end">10</ion-label>
          </ion-range>
      </ion-item>

  </div>
</ion-content>
